<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div id="cover">
            <div class="header">
                <div class="playerInfo">
                    <label>You are </label>
                    <input id="playerName" readonly="readonly"></input>
                    <button id="changePlayerNameButton">Change Name</button>
                    <label id="invalidPlayerNameLabel">Please Enter a Valid Name (10 Characters Max)</label>
                </div>
            </div>
            <div class="mainContainer">
                <div class="leftContent">
                    <div id="gameBoard"></div>
                </div>
                <div class="rightContent">
                    <div id="scoreBoard">
                        Score Board
                    </div>
                    <div id="notifications">
                    </div>
                </div>
            </div>
            <div class="footer">
                <label>Options</label>
                <div class="optionsControls">
                    <label id="currentSpeedLabel">Speed: </label>
                    <label id="currentSpeed"></label>
                    <input id="decreaseSpeedButton" class="optionsButton" type="image" src="assets/minus-icon.png" />
                    <input id="increaseSpeedButton" class="optionsButton" type="image" src="assets/plus-icon.png" />
                    <input id="resetSpeedButton" class="optionsButton" type="image" src="assets/reset-icon.png" />
                </div>
                <div class="optionsControls">
                    <label id="currentFoodAmountLabel">Food: </label>
                    <label id="currentFoodAmount"></label>
                    <input id="decreaseFoodButton" class="optionsButton" type="image" src="assets/minus-icon.png" />
                    <input id="increaseFoodButton" class="optionsButton" type="image" src="assets/plus-icon.png" />
                    <input id="resetFoodButton" class="optionsButton" type="image" src="assets/reset-icon.png" />
                </div>
            </div>
        </div>
        <script src="js/vendor/socket.io.js"></script>
        <script src="js/vendor/require.js"></script>
        <script type="text/javascript">
            require(['./js/common'], function (common) {
              require(['main']);
            });
        </script>
    </body>
</html>