@font-face {
   font-family: PressStart2P; 
   src: url('../fonts/PressStart2P.ttf');
} 
#cover {
    display: table;
    margin: 0 auto; 
}
body {
    margin: 0;
    padding: 0;
    padding-top: 60px;
    background-color: black;
    color: white;
    font-family: PressStart2P;
}
.mainContainer {
    height: 500px;
}
.leftContent {
    float: left;
}
.rightContent {
    float: left;
    width: 600px;
    height: 500px;
    background-color: black
}
.settingsMenu {
    padding: 10px;
}
.playerInfo {
    width: 100%;
    font-size: 24px;
    cursor: default;
    padding: 10px;
}
.optionsControls {
    font-size: 24px;
    padding: 5px;
    cursor: default;
}
.optionsLabel{
    display:inline-block;
    width:140px;
    padding-top: 9px;
}
.optionsValue {
    display:inline-block;
    width:70px;
    padding-top: 9px;
}
.timelabel {
    color: gray
}
.playerStatsHeader {
    font-size: 14px;
    color: gray;
}
.playerStatsHeader .image {
    display:inline-block;
    width:20px;
}
.playerStatsHeader .name {
    display:inline-block;
    width:160px;
}
.playerStatsHeader .stat {
    display:inline-block;
    width:90px;
}
.playerStatsContent {
    font-size: 14px;
}
.playerStatsContent .image {
    display:inline-block;
    width:20px;
}
.playerStatsContent .name {
    display:inline-block;
    width:160px;
}
.playerStatsContent .stat {
    display:inline-block;
    width:90px;
}
.playerStatsImage {
    width: 12px;
    height: 12px;
    padding-bottom: 3px;
}
.minusButton {
    background: url(../assets/minus-icon.png)  no-repeat; border: none;
    height: 36px;
    width: 36px;
    vertical-align: top;
    text-indent:-9999px;
}
.minusButton:hover {
    background: url(../assets/minus-icon-hover.png)  no-repeat; border: none;
    cursor: pointer;
}
.plusButton {
    background: url(../assets/plus-icon.png)  no-repeat; border: none;
    height: 36px;
    width: 36px;
    vertical-align: top;
    text-indent:-9999px;
}
.plusButton:hover {
    background: url(../assets/plus-icon-hover.png)  no-repeat; border: none;
    cursor: pointer;
}
.resetButton {
    background: url(../assets/reset-icon.png)  no-repeat; border: none;
    height: 36px;
    width: 36px;
    vertical-align: top;
    text-indent:-9999px;
}
.resetButton:hover {
    background: url(../assets/reset-icon-hover.png)  no-repeat; border: none;
    cursor: pointer;
}
.imageUploadLabel {
    cursor: pointer;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 5px;
    border-color: transparent;
    color: #ffffff;
    background: #383838;
    font-size: 20px;
    padding: 12px;
}
.imageUploadLabel:hover {
    background: #808080;
    text-decoration: none;
    cursor: pointer;
}
#imageUpload {
    display: none;
}
button {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 5px;
    border-color: transparent;
    color: #ffffff;
    background: #383838;
    text-decoration: none;
    font-family: PressStart2P;
}
button:hover {
    background: #808080;
    text-decoration: none;
    cursor: pointer;
}
#playerStats {
    height: 250px;
    border-width: 7px 7px 7px 0;
    border-style: solid;
    border-color: grey;
    box-sizing: border-box;
    padding: 5px;
    overflow: auto;
}
#playerStats div {
    padding-bottom: 8px;
}
#notifications {
    height: 250px;
    border-width: 0 7px 7px 0;
    border-style: solid;
    border-color: grey;
    box-sizing: border-box;
    font-size: 12px;
    padding: 5px;
    overflow: auto;
}
#notifications div {
    padding-bottom: 8px;
}
#playerName {
    width: 300px;
    border: 1px solid #383838;
    font-family: PressStart2P;
    font-size: 24px;
    padding-left: 5px;
    background-color: #383838;
}
#playerName:read-only {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: black;
    color: white;
}
#invalidPlayerNameLabel {
    color: red;
    display: none
}
#changePlayerNameButton {
    font-size: 20px;
    padding: 10px;
    width: 270px;
}
#changePlayerColorButton {
    font-size: 20px;
    padding: 10px;
    width: 270px;
}
#toggleGridLinesButton {
    font-size: 20px;
    padding: 10px;
    width: 350px;
}
#cover {
    visibility: hidden;
}
#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    /* Adds shadow to the bottom of the bar */
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
    /* Adds the transparent background */
    background-color: rgba(1, 1, 1, 0.8);
    font-size: 24px;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    cursor: default;
}
#navigation a {
    padding: 15px;
    background: #383838;
    text-decoration: none;
    color: #ffffff;
}

#navigation a:hover {
    background: #808080;
    text-decoration: none;
    cursor: pointer;
}
*:focus {
    outline: none;
}