@font-face {
   font-family: PressStart2P; 
   src: url('../fonts/PressStart2P.ttf');
} 
#cover {
    display: table;
    margin: 0 auto; 
}
body {
    padding: 5px;
    background-color: black;
    color: white;
    font-family: PressStart2P;
}
.header {
    height: 50px;
}
.footer {
    height: 50px;
    padding-top: 5px;
}
.mainContainer {
    overflow: hidden
}
.leftContent {
    float: left;
}
.rightContent {
    float: left;
    width: 700px;
    height: 500px;
    background-color: black
}
.playerInfo {
    width: 100%;
    font-size: 24px;
}
.optionsControls {
    font-size: 24px;
    padding: 5px;
}
.optionsControls label{
    display:inline-block;
    width:140px;
}
.timelabel {
    color: gray
}
.playerStats span{
    font-size: 18px;
    display:inline-block; width:200px;
}
button {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 5px;
    border-color: transparent;
    color: #ffffff;
    background: #383838;
    text-decoration: none;
    font-family: PressStart2P;
}
button:hover {
    background: #808080;
    text-decoration: none;
}
#playerStats {
    height: 250px;
    border-width: 7px 7px 7px 0;
    border-style: solid;
    border-color: grey;
    box-sizing: border-box;
    padding: 5px;
}
#playerStats div {
    padding-bottom: 8px;
}
#notifications {
    height: 250px;
    border-width: 0 7px 7px 0;
    border-style: solid;
    border-color: grey;
    box-sizing: border-box;
    font-size: 12px;
    padding: 5px;
    overflow: auto;
}
#notifications div {
    padding-bottom: 8px;
}
#playerName {
    width: 300px;
    border: 1px solid grey;
    font-family: PressStart2P;
    font-size: 24px;
    padding-left: 5px;
    background-color: gray;
}
#playerName:read-only {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: black;
    color: white;
}
#invalidPlayerNameLabel {
    color: red;
    display: none
}
#changePlayerNameButton {
    font-size: 20px;
    padding: 10px;
    width: 270px;
}
#changePlayerColorButton {
    font-size: 20px;
    padding: 10px;
    width: 270px;
}
#cover {
    visibility: hidden;
}

*:focus {
    outline: none;
}