<html>
    <head>
        <title>Snake</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <a class="anchor" id="top"></a>
        <div id="cover">
            <div id="navigation">
                <label>You are </label>
                <input id="playerName" readonly="readonly" maxlength="10"></input>
                <a href="#top" id="playOrWatchButton">Watch</a>
                <a href="#playerSettings">Settings</a>
                <input id="fullScreenButton" type="submit"/>
            </div>
            <div id="killMessages">
            </div>
            <div class="bodyContent">
                <div class="mainContainer">
                    <div class="leftContent">
                        <div id="gameBoard"></div>
                    </div>
                    <div class="rightContent">
                        <div id="playerStats">
                        </div>
                        <div id="notifications">
                        </div>
                    </div>
                </div>
                <div id="playerSettings" class="settingsMenu">
                    <fieldset>
                        <legend>Player Settings</legend>
                        <label id="invalidPlayerNameLabel">Please Enter a Valid Name (10 Characters Max)</label>
                        <div class="playerInfo">
                            <button id="changePlayerNameButton" class="optionsTextButton">Change Name</button>
                            <button id="changePlayerColorButton" class="optionsTextButton">Change Color</button>
                            <button id="toggleGridLinesButton" class="optionsTextButton">Toggle GridLines</button>
                        </div>
                        <div class="settingsMenu">
                            <label for="imageUpload" class="imageUploadLabel">Change Snake Image</label>
                            <input type="file" id="imageUpload" accept="image/*"/>
                            <button id="clearUploadedImageButton" class="optionsTextButton">Clear Image</button>
                        </div>
                        <div class="settingsMenu">
                            <label>Customize your snake by uploading an image (Will be scaled down to size)</label>
                         </div>
                         <div class="settingsMenu">
                            <label for="backgroundImageUpload" class="imageUploadLabel">Change Background Image</label>
                            <input type="file" id="backgroundImageUpload" accept="image/*"/>
                            <button id="clearUploadedBackgroundImageButton" class="optionsTextButton">Clear Image</button>
                        </div>
                    </fieldset>
                </div>
                
                
                <div id="adminControls" class="settingsMenu">
                    <fieldset>
                        <legend>Admin Controls</legend>
                        <div class="optionsControls" class="settingsMenu">
                            <label class="optionsLabel">Speed: </label>
                            <label id="currentSpeed" class="optionsValue"></label>
                            <input id="decreaseSpeedButton" type="submit" class="minusButton"/>
                            <input id="increaseSpeedButton" type="submit" class="plusButton"/>
                            <input id="resetSpeedButton" type="submit" class="resetButton"/>
                        </div>
                        <div class="optionsControls" class="settingsMenu">
                            <label class="optionsLabel">Food: </label>
                            <label id="currentFoodAmount" class="optionsValue"></label>
                            <input id="decreaseFoodButton" type="submit" class="minusButton"/>
                            <input id="increaseFoodButton" type="submit" class="plusButton"/>
                            <input id="resetFoodButton" type="submit" class="resetButton"/>
                        </div>
                        <div class="optionsControls">
                            <label class="optionsLabel">Bots: </label>
                            <label id="currentNumberOfBots" class="optionsValue"></label>
                            <input id="decreaseBotsButton" type="submit" class="minusButton"/>
                            <input id="increaseBotsButton" type="submit" class="plusButton"/>
                            <input id="resetBotsButton" type="submit" class="resetButton"/>
                        </div>
                        <div class="optionsControls">
                            <label class="optionsLabel">Start Length: </label>
                            <label id="currentStartLength" class="optionsValue"></label>
                            <input id="decreaseStartLengthButton" type="submit" class="minusButton"/>
                            <input id="increaseStartLengthButton" type="submit" class="plusButton"/>
                            <input id="resetStartLengthButton" type="submit" class="resetButton"/>
                        </div>
                    </fieldset>
                </div> 
            </div>            
        </div>
        <script src="js/jspm_packages/system.js"></script>
        <script src="js/config.js"></script>
        <script>
            System.import('main.js');
        </script>
    </body>
</html>