<html>
    <head>
        <title>Snake</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <a class="anchor" id="top"></a>
        <div id="cover">
            <div class="navigation">
                <label class="nav-label">You are <input id="player-name" readonly="readonly" maxlength="10"></input></label>
                <div class="nav-button-bar">
                    <a href="#top" id="play-or-watch-button">Watch</a>
                    <a href="#playerSettings">Settings</a>
                    <button id="full-screen-button"/>
                </div>
            </div>
            <div id="kill-messages">
            </div>
            <div class="body-content">
                <div class="main-container">
                    <div class="left-content">
                        <div id="game-board"></div>
                    </div>
                    <div class="right-content">
                        <div id="player-stats">
                        </div>
                        <div id="notifications">
                        </div>
                    </div>
                </div>
                <div id="playerSettings" class="settings-menu">
                    <fieldset>
                        <legend>Player Settings</legend>
                        <label id="invalid-player-name-label">Please Enter a Valid Name (10 Characters Max)</label>
                        <ul class="text-button-list">
                            <li><button id="changePlayerNameButton" class="options-text-button">Change Name</button></li>
                            <li><button id="changePlayerColorButton" class="options-text-button">Change Color</button></li>
                            <li><button id="toggleGridLinesButton" class="options-text-button">Toggle GridLines</button></li>
                            <li><label for="image-upload" class="image-upload-label">Change Snake Image<input type="file" id="image-upload" accept="image/*"/></label></li>
                            <li><button id="clearUploadedImageButton" class="options-text-button">Clear Image</button></li>
                            <li><label>Customize your snake by uploading an image (Will be scaled down to size)</label></li>
                            <li><label for="background-image-upload" class="image-upload-label">Change Background Image<input type="file" id="background-image-upload" accept="image/*"/></label></li>
                            <li><button id="clearUploadedBackgroundImageButton" class="options-text-button">Clear Image</button></li>
                        </ul>
                    </fieldset>
                </div>
                
                
                <div id="adminControls" class="settings-menu">
                    <fieldset>
                        <legend>Admin Controls</legend>
                        <div class="options-controls" class="settings-menu">
                            <label class="options-label">Speed: </label>
                            <label id="currentSpeed" class="options-value"></label>
                            <button id="decreaseSpeedButton" class="minus-button"/>
                            <button id="increaseSpeedButton" class="plus-button"/>
                            <button id="resetSpeedButton" class="reset-button"/>
                        </div>
                        <div class="options-controls" class="settings-menu">
                            <label class="options-label">Food: </label>
                            <label id="currentFoodAmount" class="options-value"></label>
                            <button id="decreaseFoodButton" class="minus-button"/>
                            <button id="increaseFoodButton" class="plus-button"/>
                            <button id="resetFoodButton" class="reset-button"/>
                        </div>
                        <div class="options-controls">
                            <label class="options-label">Bots: </label>
                            <label id="currentNumberOfBots" class="options-value"></label>
                            <button id="decreaseBotsButton" class="minus-button"/>
                            <button id="increaseBotsButton" class="plus-button"/>
                            <button id="resetBotsButton" class="reset-button"/>
                        </div>
                        <div class="options-controls">
                            <label class="options-label">Start Length: </label>
                            <label id="currentStartLength" class="options-value"></label>
                            <button id="decreaseStartLengthButton" class="minus-button"/>
                            <button id="increaseStartLengthButton" class="plus-button"/>
                            <button id="resetStartLengthButton" class="reset-button"/>
                        </div>
                    </fieldset>
                </div> 
            </div>            
        </div>
        <script src="js/jspm_packages/system.js"></script>
        <script src="js/config.js"></script>
        <script>
            System.import('main.js');
        </script>
    </body>
</html>